body {
  text-align: center;
  color: deeppink;

  font-family: "Franklin Gothic Medium";
}
.container {
  color: deeppink;
  background: black;
}
.cabecera {
  color: yellowgreen;
}
.parrafo2 {
  color: coral;
}
